@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

.bg-custom {
  background-size: 400%;

  -webkit-animation: bg-animate 10s ease infinite;
  -moz-animation: bg-animate 10s ease infinite;
  animation: bg-animate 10s ease infinite;
}

@keyframes bg-animate {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
